// Specific CSS for your home-page
h1 {
  text-align: center;
  color: rebeccapurple;

}
h2 {
  text-align: center;
  color: rebeccapurple;
}
h3 {
  text-align: center;
}

.avatar {
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  left: 50px;
}
