<div class="gridelement">
  <%= simple_form_for ([@game, @player]) do |f| %>
    <div class="form-grid">
      <%= f.input :name, placeholder: "Nom", label: false, required: true %>
      <%= f.submit "Je veux jouer !", class: "btn btn-success center-button"%>
    </div>
  <% end %>
</div>
