<div class="grid">
<% @game.number.times do %>
<%= render "form" %>
<% end %>
</div>

<div class="centerbutton">
  <div></div>
  <div><%= link_to "Commencer une partie !", game_edit_players_path(@game), class: "btn btn-ghost" %></div>
</div>
