.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 8px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 100%;
}

.btn-ghost:hover {
  opacity: 0.6;
}

.centerbutton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.centertitle {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
