.grid {
  display: grid;
  grid-template-columns : 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.score-line {
  display: grid;
  grid-template-columns : 60% 25% 15%;
}

.form-grid {
  display: grid;
  grid-template-columns : 60% 40%;
  margin-bottom: 1rem;
}

div.form-group {
  margin-bottom: 0;
}

.grid-element {
  font-size: 25px;
  padding: 4px;
  border-radius: 10px;
}

.grid-color0 {
  background-color: #a0c4ff;
}

.grid-color1 {
  background-color: #bdb2ff;
}

.grid-color2 {
  background-color: #ffc6ff;
}
.grid-color3 {
  background-color: #fdffb6;
}

.grid-color4 {
  background-color: #caffbf;
}

.grid-color5 {
 background-color: #9bf6ff;
}

.grid-editscore {
  display: grid;
  grid-template-columns : 75% 25%;
}
